* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 98%;
  min-height: 100px;
  border: 1px solid #000;
  margin: auto;
  background-color: #f4f6f8;
}
.logo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.logo h1 {
  font-size: 2.6em;
  color: #0f172a;
}
form {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #d0d7de;
  background-color: #8f22c9;
  border-radius: 10px;
}

.question {
  width: 100%;
  margin: auto;
  text-align: justify;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
}
.question p {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1f2937;
}
.question input[type="radio"] {
  width: 60px;
  height: 20px;
}
.question label {
  font-size: 22px;
  display: block;
  margin-bottom: 8px;
  color: #374151;
}
form button {
  width: 20%;
  height: 45px;
  font-size: 1.2em;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: rgb(70, 222, 70);
  font-weight: 600;
}
/* .question .bottom-bd {
  width: 50%;
  margin: 8px;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
} */

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .logo h1 {
    font-size: 1.9em;
  }
  form {
    width: 95%;
  }
  .question {
    text-align: none;
  }
  .question p {
    font-size: 15px;
  }
  .question label {
    font-size: 15px;
  }
  form button {
    width: 50%;
    margin-left: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
